<!DOCTYPE html>
<html lang="en" ng-app>
    <head>
        <% include partials/head %>
    </head>
    <body>

        <% include partials/header %>

        <div class="container">
            <div class="row">
                <div class="twelve columns">

                    <form id="form">

                        <label for="url">
                            <input type="text" name="url"/>
                        </label>
                        <input type="hidden" name="_csrf" value="<%= csrf %>">
                        <button type="submit" name="submit" id="submit" class="submit">Submit</button>

                    </form>
                    <div class="error"></div>

                </div>
            </div>
        </div>

        <% include partials/footer %>

    </body>
</html>
