<!DOCTYPE html>
<html lang="en" ng-app>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
  <!-- bower:css -->
  <link rel="stylesheet" href="lib/normalize-css/normalize.css" />
  <!-- endbower -->
</head>
<body>
    <%= title %>
    <form id="form">

        <label for="url"><input type="text" name="url" />
        </label>
        <input type="hidden" name="_csrf" value="<%= csrf %>">
        <button type="submit" name="submit" id="submit" class="submit">Submit</button>

    </form>


    <!-- bower:js -->
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <!-- endbower -->
    <script>
        $(document).ready(function() {
            var $form = $("#form");

            $form.submit(function(e) {
                e.preventDefault();
                $.ajax({
                    url: "url/create",
                    method: "POST",
                    data: $form.serialize()
                })
                .done(function(res) {
                    console.log(res);
                });

            });

        });
    </script>
</body>
</html>
