<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <% include partials/head %>
</head>
<body>

    <% include partials/header %>

    <p>
        <%= text %>
    </p>

    <% include partials/footer %>

</body>
</html>
